ul #SelectElement {
    color: blue;
}
/* p{
    color: blue;
}*/

ul .Clases{
    color: rebeccapurple;
}
/* .Clases {
    color: rebeccapurple;
}*/

#identificado {
    color: green;
}

/*Propiedades del texto
p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}*/