#titulo { /* # para buscar un id */
    color: tomato;
}

.texto { /* . para buscar una clase */
    color: slateblue;
}

p.texto{ /* p. para buscar todos las etiquetas que tengan la clase texto */
    color: cadetblue;
}

p.especial { /* p. para buscar todas las etiquetas que tengan la clase especial */
    color: mediumseagreen;
}

div p { /* todos los div que tengan un p */
    color: aquamarine;
}

div h2, div h3 { /* todos los div que tengan un h2 y h3 */
    color: brown;
}

* { /* * selector universal que cambia las propiedades de todas aquellas etiquetas que no hayan sido seleccionadas previamente */
    font-size: 24px;
    color: black;
}

/*
.color {
    color: #ff0000; valor HEXAGECIMAL
}
*/

.color {
    color: rgb(255, 0, 0); /* valor RGB */
}